<div tabindex="1" class="dropdown bootstrap-select" style="float: right; text-align:center;" (blur)="triggerBlind()">
    <div class="select-root">
        <div class="form-control" (click)="triggerBlind()">
            <div style="max-width: 280px; float: right;">
                <input [ngModel]="key" (ngModelChange)="onSearch($event)"   style="float:right; border:none; outline: none;" />
            </div>
        </div>
    </div>
    <div class="selected-box-container" *ngIf="settings.type === 'multi'">
        <button class="selected-box btn-sm btn-light" *ngFor="let item of selectedItems()" (click)="selectItem(item)">
            {{item.text}}
        </button>
    </div>
    <div class="select-item-container" [hidden]="close">
        <div class="select-item-row" *ngFor="let item of filteredDataSource" (click)="selectItem(item)"
            [class.selected]="item.selected" [class.multi]="settings.type === 'multi'">
            {{item.text}}
        </div>
    </div>
</div>